<doctype html>
<html>

<head>
    <meta charset="utf=8">
    <title> </title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <img id="circle" src={{avatar}}>

    <div class="info-container">
        <div class="header">
                <div class="job-info">
                    <h1>{{name}}</h2>
                    <div class="city">{{address.city}}</div>
                    <div class="country">{{address.country}}</div>
                    <div class="job">{{job}}</div>
                    <div class="company">{{company}}</div>
                    <div class="email">{{email}}</div>
                    <div class="phone">{{phone}}</div>
                </div>
        </div>
        <div class="university">{{university}}</div>
        <div class="skills">{{skills}}</div>

    </div>

</body>

</html>